<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Quieres saber un poco más</h2>
        <p>Suscribete al newsletter, te prometo que no te mando spam y que vas a recibir cosas muy interesantes.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Tu correo">
                <input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->
