---
layout: default
title: Home
---

{% if page.url == "/" %}
<!-- Featured-->
<div class="featured-posts outer">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<!-- Posts Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination-->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"f6bfefdd847f320ff64671c92","lid":"d7674004e1","uniqueMethods":true}) })</script>


